#board{
  width: 335px;
  height: 650px;
  border: solid red;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
}
.grid{
  width: 50px;
  height: 50px;
  border: solid silver;
  background: brown;
}
.note{
  border-radius: 100px;
}

.blueNote{
  width: 25px;
  height: 25px;
  background: blue;
  position: absolute;
}
.redNote{
  width: 25px;
  height: 25px;
  background: red;
  position: absolute;
}
.greenNote{
  width: 25px;
  height: 25px;
  background: green;
  position: absolute;
}
.yellowNote{
  width: 25px;
  height: 25px;
  background: yellow;
  position: absolute;
}
.purpleNote{
  width: 25px;
  height: 25px;
  background: purple;
  position: absolute;
}
.orangeNote{
  width: 25px;
  height: 25px;
  background: orange;
  position: absolute;
}

.hitBox{
  background: black;
  width: 50px;
  height: 50px;
  border: solid silver;
}
