html{
  background: black;
}
#titleScreen{
  display: flex;
}
#board{
  width: 335px;
  height: 650px;
  /* border: solid red; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
}
h1{
  font-size: 30px;
  color: blue;
  flex: 1;

}
#start{
  flex: 1;
  color: white;
  border: solid blue;
  font-size: 30px;
  background: #333333;
  color: red;
}
.grid{
  width: 50px;
  height: 50px;
  border: solid silver;
  background: brown;
}
#scoreBoard{
  width: 300px;
  height: 25px;
  background: black;
  color: white;
}
#getReady{
  width: 335px;
  height: 50px;
  background: black;
  color: white;
}
#loser{
  width: 335px;
  height: 325px;
  position: absolute;
  top: 150px;
  background: black;
  color: white;

}
.note{
  border-radius: 100px;
}

.blueNote{
  width: 25px;
  height: 25px;
  background: blue;
  position: absolute;
}
.redNote{
  width: 25px;
  height: 25px;
  background: red;
  position: absolute
}
.greenNote{
  width: 25px;
  height: 25px;
  background: green;
  position: absolute;
}
.yellowNote{
  width: 25px;
  height: 25px;
  background: yellow;
  position: absolute;
}
.purpleNote{
  width: 25px;
  height: 25px;
  background: purple;
  position: absolute;
}
.orangeNote{
  width: 25px;
  height: 25px;
  background: orange;
  position: absolute;
}

.hitBox{
  background: cyan;
  width: 50px;
  height: 65px;
  border: solid silver;
}

@keyframes titleFlash{
  0%{color: blue;}
  10%{color: red;}
  20%{color: blue;}
  30%{color: red;}
  40%{color: blue;}
  50%{color: red;}
  60%{color: blue;}
  70%{color: red;}
  80%{color: blue;}
  90%{color: red;}
  100%{color: blue;}
}
